[defaults]
inventory = $ANSIBLE_CONFIG/inventory
private_key_file = $ANSIBLE_CONFIG/key.pem
remote_user = ubuntu
host_key_checking = False
retry_files_enabled = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=publickey
pipelining = true
